@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply w-full h-full p-0 m-0;
    overflow-x: hidden;
  }

  body {
    overflow-x: hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span {
    color: #3d3d3d;
  }
}

@layer components {
  .btn {
    @apply font-normal;
  }
  .btn-secondary {
    @apply bg-secondary text-secondary-content py-1;
  }

  .section-container {
    @apply container mx-auto px-4;
  }

  .overlap-section {
    @apply section-container;
    margin-top: -60px;
  }

  .gradiente {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .gradiente-h {
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 70%
    );
  }

  .whats {
    z-index: 9999999;
    background-color: rgb(4, 190, 4);
    padding: 6px 6px 6px 6px !important;
    border-radius: 100%;
    position: fixed;
    right: 50px;
    bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
  }
  .waicon {
    color: #f5f5f5;
  }
}

span.swiper-pagination-bullet {
  height: 10px;
  width: 10px;
  background-color: #14145e !important;
  opacity: 1;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #0062fe !important;
}

:host >>> .swiper-pagination {
  pointer-events: all !important;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -5px !important;
}

.swiper-slide .swiper-slide-active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-showcase {
  height: auto;
}

@media (min-width: 768px) {
  .card-showcase {
    height: 350px;
  }
}
