@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply w-full h-full p-0 m-0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span {
    color: #3d3d3d;
  }
}

@layer components {
  .btn {
    @apply font-normal;
  }
  .btn-secondary {
    @apply bg-secondary text-secondary-content py-1;
  }

  .section-container {
    @apply container mx-auto px-4;
  }

  .overlap-section {
    @apply section-container;
    margin-top: -60px;
  }

  .bg-jaime {
    background-color: #eff6f5;
  }

  .gradiente {
    background: linear-gradient(180deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
  }

}

span.swiper-pagination-bullet {
  height: 16px;
  width: 16px;
  background-color: #14145E !important;
  opacity: 1;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #19D6CB !important;
}

:host >>> .swiper-pagination {
  pointer-events: all !important;
}